Repository SkywardAI/kirin, pull requests merged in 2024-06, with the labels that each got.

#152 Feat update dataset api
  backend/src/api/routes/train.py
  backend/src/config/settings/const.py
  backend/src/repository/rag/chat.py
  backend/src/repository/vector_database.py
Labels: vector db, embeddings, data visualization

#157 feat add direct load for dateset
  Makefile
  backend/src/api/routes/train.py
  backend/src/models/schemas/train.py
  backend/src/repository/rag/chat.py
Labels: api, dataset

#159 [feat]: replace flake8 to ruff
  .github/workflows/ci-backend.yaml
  Makefile
  ruff.toml
Labels: ci, python

#161 feat/remove useless import and fix other code style issues
  backend/src/api/dependencies/repository.py
  backend/src/api/dependencies/session.py
  backend/src/api/routes/account.py
  backend/src/api/routes/ai_model.py
  backend/src/api/routes/chat.py
  backend/src/api/routes/data_analyze.py
  backend/src/api/routes/file.py
  backend/src/api/routes/train.py
  backend/src/main.py
  backend/src/models/db/ai_model.py
  backend/src/models/db/file.py
  backend/src/repository/base.py
  backend/src/repository/crud/ai_model.py
  backend/src/repository/crud/chat.py
  backend/src/repository/crud/dataset_db.py
  backend/src/repository/crud/file.py
  backend/src/repository/database.py
  backend/src/repository/events.py
  backend/src/repository/rag/chat.py
  backend/src/repository/vector_database.py
  backend/src/securities/authorizations/jwt.py
  backend/src/utilities/messages/exceptions/http/exc_details.py
Labels: python, api

#168 Add llamacpp as cpu accelerate service
  .env.example
  Makefile
  README.md
  backend/Dockerfile
  backend/src/__init__.py
  backend/src/api/endpoints.py
  backend/src/api/routes/chat.py
  backend/src/api/routes/version.py
  backend/src/config/events.py
  backend/src/config/settings/base.py
  backend/src/config/settings/const.py
  backend/src/models/schemas/base.py
  backend/src/repository/ai_models.py
  backend/src/repository/events.py
  backend/src/repository/inference_eng.py
  backend/src/repository/rag/chat.py
  docker-compose.yaml
  docs/Development.md
  docs/Legacy.md
Labels: api, deep-learning, container

#173 Fix no inference engine port in docker-compose configuration
  Makefile
  backend/src/config/settings/base.py
  docker-compose.yaml
Labels: api

#176 Add env to makefile and ad conv mode
  .env.backup
  Makefile
  README.md
  backend/src/config/settings/base.py
  backend/src/repository/rag/chat.py
  docker-compose.yaml
  docs/Development.md
Labels: api, deep-learning, cpus
